.row0, footer {
    background: #e9ecef;
}

.error {
    font-weight: bold;
    color: #ff0000;
    display: block;
    margin: 5px 0px;
}

.active {
    font-weight: bold;
}

.btn-close {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    font-size: 7px;
    font-weight: bold;
}

.photo {
    position: relative;
}

.input-error {
    box-shadow: 0 0 5px #ff0000;
}