{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

{% if banners %}
    <div class="slider-container">
        <button class="arrow arrow-left">&#8249;</button>
          <div class="slider">
            {% for item in banners %}
              <div class="slide">
                {% if item.photo1 %}<img src="/uploads/{{ item.photo1 }}" alt="slide">{% endif %}
                  <div class="slide-text schema-{{item.layout}}">
                    <div class="centered-container">
                    {% if item.name %}<h1 class="title">{{ item.name }}</h1>{% endif %}
                    {% if item.title %}<h2 class="subtitle">{{ item.title }}</h2>{% endif %}
                    {% if item.more_link %}<a href="{{ item.more_link }}" class="red-button">Red Button</a>{% endif %}
                    </div>
                  </div>
              </div>
              {% endfor %}
          </div>
        <button class="arrow arrow-right">&#8250;</button>
      </div>
    {% else %}
    <div class="banner">
        <img class="banner" src="/static/front/images/subpage.jpg" alt="banner">
    </div>
{% endif %}

{% if errors %}
    <div class="alert">
        {% for item in errors %}
        <div class="mb-4">
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Danger!</strong>
                <span class="block sm:inline">{{ item | raw }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}

{% include 'front/registerForm.html' %}
{% include 'front/loginForm.html' %}

{% if box %}
    <div class="boxy">
        {% for item in box %}
            <div class="box" style="background-color: {{ item.color_bg }}">
                <a href="{{ item.more_link }}"><img src="/uploads/{{ item.photo1 }}" alt="{{ item.name }}"></a>
                <div class="txt">
                    <h4>{{ item.name }}</h4>
                    <p class="txt">{{ item.description }}</p>
                    <a href="{{ item.more_link }}" class="btn">{{ item.label_link }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if posts %}
<section class="posts">
    {% for post in posts %}

    {% if post.more == 1 %}
        <article class="article schema-{{ post.layout }}">
            <div class="article__content">
                <div class="article__type">Typ: 
                    <span class="article__type-name">{% if post.title == 'wino' %}wino{% else %}nalewka{% endif %}</span>
                </div>
                {% if post.name %}<h1 class="article__title">{{ post.name }}</h1>{% endif %}
                <p class="article__description">{{ post.description|striptags|slice(0, 350) ~ '...' }}</p>
                <a class="red-button" href="#" >Read more</a>
                <small class="article__created-at">{{ post.created_at }}</small>
            </div>
            <div class="article__image">
                <div class="overlay"></div>
                <img class="article__image-img" src="/uploads/{% if post.photo1 %}{{ post.photo1 }}{% else %}no_photo.gif{% endif %}" alt="Image">
            </div>
        </article>
    {% else %}
    <article class="article-full schema-{{ post.layout }}">
        <div class="article-full__content">
            {% if post.photo1 %}
                <div class="article-full__image-img">
                    <img src="/uploads/{% if post.photo1 %}{{ post.photo1 }}{% else %}no_photo.gif{% endif %}" alt="Image">
                </div>
            {% endif %}
                <div class="article-full__headers">
                    {% if post.name %}<h1 class="article-full__name">{{ post.name }}</h1>{% endif %}
                    {% if post.title %}<h2 class="article-full__title">{{ post.title }}</h2>{% endif %}
                </div>
            <p class="article-full__description">
                {{ post.description|raw}}
            </p>
        </div>
            <div class="article-full__image">
                {% if post.photo2 %}
                <div class="article-full__image-img">
                    <img src="/uploads/{% if post.photo2 %}{{ post.photo2 }}{% else %}no_photo.gif{% endif %}"  alt="Image">
                </div>
                {% endif %}
                {% if post.photo3 %}
                <div class="article-full__image-img">
                    <img src="/uploads/{% if post.photo3 %}{{ post.photo3 }}{% else %}no_photo.gif{% endif %}"  alt="Image">
                </div>
                {% endif %}
                {% if post.photo4 %}
                <div class="article-full__image-img">
                    <img src="/uploads/{% if post.photo4 %}{{ post.photo4 }}{% else %}no_photo.gif{% endif %}"  alt="Image">
                </div>
                {% endif %}
            </div>
    </article>

    {% endif %}
    {% endfor %}



</section>
{% endif %}






{% endblock %}

