{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

{% if banners %}

{% for item in banners %}
    <div class="slidshow">
        <img src="/uploads/{{ item.photo1 }}" alt="">
        <div class="content schema{{ item.layout }}">
          <h1>{{ item.name }}</h1>
          <span>{{ item.title }}</span>
          <p>{{ item.description }}</p>
          <a class="btn" href="{{ item.more_link }}">CONTACT AN INSURANCE PROFESSIONAL</a>
        </div>
    </div>
{% endfor %}

{% else %}
    <img src="/static/front/images/slajd.jpg" alt="">
{% endif %}



<div class="content">
    {% for post in posts %}
        <div class="post">
            <h1>{{ post.name }}</h1>
            <h2>{{ post.title }}</h2>
            <div class="text schema{{ post.layout }} d-flex">
                <div class="column">
                    {% if post.photo1 %}
                        <div class="main_foto">
                            <img width="400px" src="/uploads/{{ post.photo1 }}" alt="">
                        </div>
                    {% endif %}
                    <div class="desc">
                        {% if post.more == 1 %}
                            {{ post.description|striptags|slice(0, 350) ~ '...' }}
                            <br><a href="/{{ url_more }}/{{ post.slug }}/{{ post.id }}" class="more">Read more</a>
                        {% else %}
                            {{ post.description|raw}}
                        {% endif %}
                    </div>
                </div>
                {% if post.more == 0 %}
                    <div class="column">
                        <div class="gallery">
                            {% if post.photo2 %}
                                <img width="400px" src="/uploads/{{ post.photo2 }}" alt="">
                            {% endif %}
                            {% if post.photo3 %}
                                <img width="400px" src="/uploads/{{ post.photo3 }}" alt="">
                            {% endif %}
                            {% if post.photo4 %}
                                <img width="400px" src="/uploads/{{ post.photo4 }}" alt="">
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>






{% endblock %}