{% if path == 'login' %}
  {% if session is empty %}
  <div class="form_wrapper">
    <h2>Login user</h2>
      <form method="post">
        <input 
            type="text" 
            class="inputText" 
            name="username" 
            placeholder="login"
        >
        <input 
            type="password" 
            class="inputText" 
            name="password" 
            placeholder="password"
        >
        <input 
            type="submit"
            name="submit"
            class="btn" 
            value="Log In"
            >
      </form>
      <div class="form_footer">
        <small>if you do not have an account yet, register </small>
        <a href="/register">Register</a>
      </div>
    </div>
    {% else %}
      <div class="alert-danger">You're logged in </div>
    {% endif %}
{% endif %}