{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <img src="/static/images/logo.gif" id="icon" alt="User Icon" />
      </div>
      <form method="post">
        <input 
            type="text" 
            id="login" 
            class="fadeIn second" 
            name="username" 
            placeholder="login"
        >
        <input 
            type="password" 
            id="password" 
            class="fadeIn third" 
            name="password" 
            placeholder="password"
        >
        <input 
            type="submit"
            name="submit"
            class="fadeIn fourth" 
            value="Log In"
            >
      </form>
      <div id="formFooter">
        <a class="underlineHover" href="/register">Register now</a>
      </div>
    </div>
  </div>
{% endblock %}

