<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/admin/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/admin/css/style.css" />
    <title>{% block title %}Dashboard{% endblock %}</title>
</head>
<body>
    {% include 'admin/header.html' %}

    <main class="content">
        <div class="left-menu">
            <div class="profile-info">
                <div class="profile-photo">
                    <img src="/static/admin/images/admin.jpg" alt="#">
                </div>
                <div class="profile-text">Wojciech Kondraciuk</div>
                <span class="profile-status">Online</span>
            </div>
            <div class="side-menu">
                {{ menu_left | raw }}
            </div>
        </div>
    
        <div class="content-page">
            <div class="content-table">
                {% block body %}{% endblock %}
            </div>
        </div>
    </main>

    <footer>
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="http://wojciech-kondraciuk.pl/">wojciech kondraciuk</a>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/admin/js/scripts.js"></script>
</body>
</html>