{% extends "admin/base.html" %}

{% block body %}



<h3 class="display-5">{{ header }}</h3>
{{ breadcrumbs }}
<hr class="my-4">


<form method="post" id="body" enctype="multipart/form-data">

    <input
        type="hidden" 
        name="parent"
        value="{{ item.parent_id }}"
    >

    <div class="form-group">
        <label for="name">Name:</label>
        <input 
            id="name"
            class="form-control" 
            type="text" 
            name="name" 
            value="{{ item.name }}"
        >
    </div>
    <div class="form-group">
        <label for="title">Title:</label>
        <input 
            id="title"
            class="form-control" 
            type="text" 
            name="title" 
            value="{{ item.title }}"
        >
    </div>
    <div class="form-group">
        <label for="description">Content:</label>
        <textarea 
            class="form-control" 
            name="description" 
            id="description" 
            cols="30" 
            rows="10"
        >{{ item.description }}</textarea>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input 
                class="form-check-input" 
                name="status" 
                id="inlineCheckbox1" 
                type="checkbox"
                {% if item.status == 1 %}checked{% endif %}
            >
            <label class="form-check-label" for="inlineCheckbox1">Public</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input 
                class="form-check-input" 
                name="more" 
                id="inlineCheckbox2" 
                type="checkbox"
                {% if item.more == 1 %}checked{% endif %}
            >
            <label class="form-check-label" for="inlineCheckbox2">Read more</label>
        </div>
    </div>
    {% if item.photo1 %}
        <div class="form-group">
            <div class="column">
                <input type="hidden" name="file1" value="{{ item.photo1 }}">
            </div>
            <div class="column photo">
                <img width="100px" src="/uploads/{{ item.photo1 }}" alt="{{ item.photo1 }}">
                <a 
                    href="/admin/delete/photo1&{{item.photo1|replace({'.': '_'})}}&{{ item.id }}&body"
                    class="btn btn-danger"
                    onclick="return confirm('Are you sure want to delete?');"
                >X</a>
            </div>
        </div>
    {% else %}
        <div class="form-group">
            <div class="column">
                <input 
                    class="inputFile" 
                    id="photo1" 
                    type="file"
                    name="file1"
                >
            </div>
        </div>
    {% endif %}
    {% if item.photo2 %}
        <div class="form-group">
            <div class="column">
                <input type="hidden" name="file2" value="{{ item.photo2 }}">
            </div>
            <div class="column photo">
                <img width="100px" src="/uploads/{{ item.photo2 }}" alt="{{ item.photo2 }}">
                <a 
                    href="/admin/delete/photo2&{{item.photo2|replace({'.': '_'})}}&{{ item.id }}&body"
                    class="btn btn-danger"
                    onclick="return confirm('Are you sure want to delete?');"
                >X</a>
            </div>
        </div>
    {% else %}
        <div class="form-group">
            <div class="column">
                <input 
                    class="inputFile" 
                    id="photo2" 
                    type="file"
                    name="file2"
                >
            </div>
        </div>
    {% endif %}
    {% if item.photo3 %}
        <div class="form-group">
            <div class="column">
                <input type="hidden" name="file3" value="{{ item.photo3 }}">
            </div>
            <div class="column photo">
                <img width="100px" src="/uploads/{{ item.photo3 }}" alt="{{ item.photo3 }}">
                <a 
                    href="/admin/delete/photo3&{{item.photo3|replace({'.': '_'})}}&{{ item.id }}&body"
                    class="btn btn-danger"
                    onclick="return confirm('Are you sure want to delete?');"
                >X</a>
            </div>
        </div>
    {% else %}
        <div class="form-group">
            <div class="column">
                <input 
                    class="inputFile" 
                    id="photo3" 
                    type="file"
                    name="file3"
                >
            </div>
        </div>
    {% endif %}
    {% if item.photo4 %}
        <div class="form-group">
            <div class="column">
                <input type="hidden" name="file4" value="{{ item.photo4 }}">
            </div>
            <div class="column photo">
                <img width="100px" src="/uploads/{{ item.photo4 }}" alt="{{ item.photo4 }}">
                <a 
                    href="/admin/delete/photo4&{{item.photo4|replace({'.': '_'})}}&{{ item.id }}&body"
                    class="btn btn-danger"
                    onclick="return confirm('Are you sure want to delete?');"
                >X</a>
            </div>
        </div>
    {% else %}
        <div class="form-group">
            <div class="column">
                <input 
                    class="inputFile" 
                    id="photo4" 
                    type="file"
                    name="file4"
                >
            </div>
        </div>
    {% endif %}
    <div class="form-group">
        <div class="column"></div>
        <div class="column">
            <div class="flex">
            <button 
                class="btn btn-success" 
                type="submit" 
                name="submit"
                value="submit"
            >{{ header }}</button> 
            <a 
                class="btn btn-danger" 
                href="javascript: history.go(-1)"
            >Anuluj</a>
            </div>
        </div>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.js"></script>
<script src="https://cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
<script>
CKEDITOR.replace( 'description', {
    allowedContent: true,
    autoGrow_onStartup: true,
    enterMode: CKEDITOR.ENTER_BR,
    width: '100%',
    height: '400px',
} );
CKEDITOR.editorConfig = function( config ) {
	config.entities_latin = false; 
  	config.entities_greek = false; 
  	config.entities = false; 
  	config.basicEntities = false;
    config.allowedContent = true; 
};

$.validator.addMethod("words", function(value, element) {
	return this.optional(element) || /^[a-zżźćńółęąśŻŹĆĄŚĘŁÓŃA-Z\s]+$/.test(value);
}, "Letters, words, and spaces only please");

$.validator.addMethod('filesize', function (value, element, param) {
    return this.optional(element) || (element.files[0].size <= param * 1000000)
}, 'File size must be less than {0} MB');

$('#body').validate({
    rules: {
        title: {
            words: true
        },
        name: {
            required: true,
            words: true
        },
        file1: {
            extension: "jpg,png,pdf",
            filesize: 2,
        },
        file2: {
            extension: "jpg,png,pdf",
            filesize: 2,
        },
    }
});


</script>

{% endblock %}



