{% extends "admin/base.html" %}

{% block body %}

    <h1 class="header">{{ header }}</h1>

    <div class="form_container">
        {% if error %}
            <div class="alert alert-danger">
                <ul class="text-danger">
                    {% for err in error %}
                        <li>{{ err }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <form method="post" id="menu">
            <div class="form-group">
                <label for="name">Page name:</label>
                <input 
                    id="name"
                    class="form-control" 
                    type="text" 
                    name="title" 
                    value="{{ item.title }}"
                >
            </div>
            <div class="form-group">
                <label for="status">Status:</label>
                <select name="status" id="status" class="form-select">
                    {% if item.status == 1 %}
                        <option value='1'>Active</option>
                        <option value='0'>Disactive</option>
                    {% else %}
                        <option value='0'>Disactive</option>
                        <option value='1'>Active</option>
                    {% endif %}
                </select>
            </div>

            <div class="form-group">
                <label for="category">Add to:</label>

                <select name="category" id="category" class="form-select">
                    <option value="0">- Home -</option>
                    {% for itm in items %}
                        <option value="{{ itm.id }}" {% if itm.id == item.parent_id %} selected="selected" {% endif %}>{{ itm.title }}</option>
                    {% endfor %}
                </select>
            </div>


            <button 
                class="btn btn-success" 
                type="submit" 
                name="submit"
                value="1"
            >{{ header }}</button>
            <a 
                class="btn btn-danger" 
                href="/admin/menu"
            >Anuluj</a>
                  

        </form>
    </div>


<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
    crossorigin="anonymous">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
    integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
    crossorigin="anonymous">
</script>
<script>

$.validator.addMethod("words", function(value, element) {
	return this.optional(element) || /^[a-zżźćńółęąśŻŹĆĄŚĘŁÓŃA-Z\s]+$/.test(value);
}, "Letters, words, and spaces only please");

$('#menu').validate({
    rules: {
        title: {
            required: true,
            words: true
        }
    }
});

</script>

{% endblock %}

