html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*global*/

.triangle::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -15px;
    margin-top: -3px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #ffffff;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

.display-flex,
.display-flex-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display-flex-end {
    justify-content: flex-end;
}

.search ::placeholder {
    color: #ffffff;
    opacity: 1;
}
  

.btn {
    outline: none;
    border: none;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #1f698d;
    padding: 8px 20px;
    cursor: pointer;
}

.btn:hover {
    background: #000;
}

/*navigation*/

.nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav li {
    position: relative;
    list-style: none;
}

.nav li a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-transform:  uppercase;
    margin-left: 30px;
    cursor: pointer;
}

.nav li:first-child a {
    border: none;
}

.nav li a:hover,
.nav li a.active {
    color: #dfdfdf;
    text-decoration: underline;
}

.sub-menu {
    min-width: 200px;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 18px;
    left: 0;
    background-color: #ffffff;
    transition: all 0.5s ease;
    text-align: left;
    display: none;
}

.sub-menu li {
    padding: 8px 15px;
}

.sub-menu li a {
    margin: 0;
    padding: 0;
    border: none;
    color: #969696;
    text-transform: none;
    font-size: 12px;
}

.sub-menu li:hover {
    background: #dfdfdf;
}

.sub-menu li:hover a{
    color: #000000;
}

.sub-menu .sub-menu {
    left: 200px;
    top: 0;
}

.sub-menu .triangle::after {
    border-top-color: #000;
    right: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid black;
}

ul li:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    display: block;
}

/*footer*/

footer {
    text-align: center;
    background-color: #121825;
    font-size: 12px;
    padding: 10px;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

/*treść*/

.content {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
}

.post {
    margin-bottom: 40px;
}

.post h1 {
    width: 100%;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
}

.post h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #1289dd;
}

.post.align_center {
    text-align: center;
}

.post h1::after{
    content: "";
    width: 50px;
    height: 2px;
    background: #000;
    display: block;
    margin: 40px auto;
}

.text {
    line-height: 160%;
}

.more {
    background-color: #1289dd;
    color: #ffffff;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 0px;
    cursor: pointer;
  }

.more:hover {
    background: lightseagreen;
    text-decoration: none;
    color: #ffffff;
}

.d-flex,
.gallery {
    display: flex;
    gap: 5px;
}

.schema1 .gallery {
    margin:  20px 0px;
}

.schema1.d-flex,
.schema2.d-flex {
    flex-direction: column !important;
}

/*schema 1*/
.schema1 .main_foto,
.schema4 .main_foto,
.schema5 .main_foto {
    float: left;
    margin: 0 20px 20px 0px;
}

/*schema 2*/
.schema2 .main_foto {
    float: right;
    margin: 0 0px 20px 20px;
}

/*schema 3*/
.schema3 {
    flex-direction: row-reverse;
    gap: 20px;
}

.schema3 .main_foto {
    float: right;
    margin: 0 0px 20px 20px;
}

/*schema 4*/
.schema4 {
    flex-direction: column-reverse;
    gap: 20px;
}

/*schema 5*/
.schema5 {
    flex-direction: row;
    gap: 20px;
}

.schema5 .gallery, 
.schema3 .gallery {
    flex-direction: column;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.grid > .post {
    margin-bottom: 20px;
    width: 385px;
}

.grid .main_foto img {
    max-width: 400px;
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.grid .desc {
    font-size: 15px;
    color: #000;
}

.grid h2 {
    font-size: 15px;
    color: #b1b1b1;
    font-weight: bold;
}

.grid h1 {
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.grid .post {
    margin-bottom: 50px;
}

/*header*/

header {
    position: fixed;
    top: 0px;
    left: 0%;
    width: 100%;
    z-index: 1;
}

header.darkHeader {
    background: #ffffff;
}

header.darkHeader .top_info {
    background-color: #1f698d;
}

header.darkHeader .nav li a {
    color: #000000;
}

header.darkHeader .triangle::after {
    border-top-color: #000000;
}

header.darkHeader .sub-menu .triangle::after {
    border-top-color: #ffffff;
}

.top_info {
    width: 100%;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid rgba(255,255,255, .3);
    font-size: 13px;
    padding: 7px 0px;
    margin-bottom: 10px;
}

.top_info a {
    color: #fff;
    border-left: 1px solid #ffffff;
    margin-left: 10px;
    padding-left: 10px;
    text-decoration: none;
}

.top_info a:first-child {
    border:none;
}

.top_info a:last-child {
    font-weight: bold;
}

.top_info .search {
    margin-left: 10px;
}

.top_info .inputSearch {
    border: none;
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding-left: 5px;
}

/*slider*/

.slidshow {
    width: 100%;
    height: 700px;
}

.slidshow img {
    float: left;
    width: 100%;
    height: auto;
}

.slidshow .content {
    position: absolute;
    left: 0;
    top: 35%;
    width: 40%;
    transform: translate(0, -35%);
    padding-left: 20px;
    color: #ffffff;
}

.slidshow .content.schema2 {
    width: 100%;
    text-align: center;
}

.slidshow .content.schema3 {
    width: 100%;
    text-align: right;
    padding-right: 20px;
}

.slidshow .content h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
}

.slidshow .content span {
    display: block;
    font-size: 26px;
    margin-bottom: 20px;
}

.slidshow .content .body {
    font-size: 24px;
    margin-bottom: 40px;
}

.banner {
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/*boxy*/

.boxy {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
}

.boxy .box {
    border: 1px solid #000;
    width: 50%;
    padding: 20px;
    background-color: #121825;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
}

.boxy .box img {
    margin-bottom: 20px;
}

.boxy .box h4 {
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.boxy .box .txt {
    display: block;
    margin-bottom: 20px;
}

.boxy .box .btn {
    background: #ffffff;
    color: #1f698d;
}

.boxy .box .btn:hover {
    color: #ffffff;
    background: #1f698d;
}

/*form register*/
.form_wrapper {
    background: #fff;
    width: 600px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    border-top: 5px solid #1289dd;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.form_wrapper .inputText {
    display: block;
    width: 100%;
    padding-left: 10px;
    height: 35px;
    border: 1px solid #cccccc;
    outline: none;
    margin-bottom: 20px;
}

.form_wrapper h2 {
    font-size: 21px;
    color: #000;
    line-height: 1.5em;
    margin-bottom: 20px;
    font-weight: bold;
}

.alert {
    border-radius: 3px;
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 20px;
}

.alert span {
    display: block;
}

.alert-danger {
    background-color: #fc5844;
    border-color: #d73925;
    padding: 10px;
    position: relative;
    min-height: 40px;
}

.alert-success {
    background-color: #85be44;
    border-color: #008d4c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.form_wrapper .btn {
    margin-bottom: 20px;
}

.form_footer {
    font-size: 12px;
}

.form_footer a {
    font-weight: bold;
}

.bg {
    padding: 50px 0px;
    margin-bottom: 40px;
    position: relative;
}

.bg.pattern1 {
    background: url('../images/patterns/p1.jpg');
}

.bg.pattern2 {
    background: url('../images/patterns/footer.jpg');
    background-size: cover;
    color: #ffffff;
    margin-bottom: 0;
}

.bg.pattern2 h1::after{
    background: #ffffff;
}

.bg.pattern2::after {
    content: "";
    width: 60px;
    height: 30px;
    border-top: solid 30px #ffffff;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -30px;
}

.bg .more,
.bg .post {
    margin-bottom: 0;
}

