@media (max-width: 1200px) {
    .posts {
        padding: 20px;
    }

    .article__image .overlay {
        display: none;
    }
}

@media (min-width: 768px) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

@media (max-width: 640px) {
    .article {
        flex-direction: column-reverse;
    }

    .article__image {
        width: 100%;
    }

    .article-full__image,
    .article-full.schema-5,
    .article-full.schema-6 {
        flex-direction: column;
    }

    .article-full__image-img {
        width: 100%;
    }

    .article-full.schema-6 .article-full__image {
        margin: 0;
    }
}