*,
*::before,
*::after {
     box-sizing: border-box !important;
}

body {
     margin: 0;
     font-family: Helvetica, sans-serif;
     background-image: url('../images/bg.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
}

a {
     color: #000;
}

/* header */

.header {
     background-color: #fff;
     box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
     position: fixed;
     width: 100%;
     z-index: 3;
}

.header ul {
     margin: 0;
     padding: 0;
     list-style: none;
     overflow: hidden;
     background-color: #fff;
}

.header li a {
     display: block;
     padding: 20px 20px;
     border-right: 1px solid #f4f4f4;
     text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
     background-color: #f4f4f4;
}

.header .logo {
     display: block;
     float: left;
     font-size: 2em;
     padding: 10px 20px;
     text-decoration: none;
}

/* menu */

.header .menu {
     clear: both;
     max-height: 0;
     transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
     cursor: pointer;
     display: inline-block;
     float: right;
     padding: 28px 20px;
     position: relative;
     user-select: none;
}

.header .menu-icon .navicon {
     background: #333;
     display: block;
     height: 2px;
     position: relative;
     transition: background .2s ease-out;
     width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
     background: #333;
     content: '';
     display: block;
     height: 100%;
     position: absolute;
     transition: all .2s ease-out;
     width: 100%;
}

.header .menu-icon .navicon:before {
     top: 5px;
}

.header .menu-icon .navicon:after {
     top: -5px;
}

/* menu btn */

.header .menu-btn {
     display: none;
}

.header .menu-btn:checked~.menu {
     max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
     background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
     transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
     transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
     top: 0;
}

/*slider*/

.slider-container {
     max-width: 100%;
     margin: 0 auto;
     overflow: hidden;
     position: relative;
     margin-bottom: 20px;
}

.slider {
     position: relative;
     display: flex;
     transition: transform 0.5s ease-in-out;
}

.slide {
     flex: 0 0 100%;
     max-width: 100%;
     text-align: center;
     position: relative;
}

.slide img {
     width: 100%;
     height: 600px;
     object-fit: cover;
}

.slide-text {
     position: absolute;
     top: 50%;
     left: 0;
     padding: 20px;
     color: #fff;
     width: 100%;
}

.slide-text h2 {
     font-size: 24px;
}

.slide-text.schema-3 {
     text-align: right;
}

.slide-text.schema-1 {
     text-align: left;
}

.slide-text.schema-3 .title {
     color: #cc0000;
}

.arrow {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 40px;
     height: 40px;
     background-color: rgba(0, 0, 0, 0.5);
     border: none;
     color: #fff;
     font-size: 24px;
     cursor: pointer;
     z-index: 1;
     transition: background-color 0.3s;
}

.arrow:hover {
     background-color: rgba(0, 0, 0, 0.8);
}

.arrow-left {
     left: 10px;
}

.arrow-right {
     right: 10px;
}

.title {
     font-size: 46px;
     font-weight: bold;
}

.subtitle {
     font-size: 18px;
     margin-bottom: 20px;
     font-weight: 100;
}

/*button*/
.red-button {
     display: inline-block;
     background-color: #ff0000;
     color: #fff;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     font-size: 14px;
     cursor: pointer;
     transition: background-color 0.3s;
     text-decoration: none;
}

.red-button:hover {
     background-color: #cc0000;
}

/**/
.banner {
     height: 300px;
     overflow: hidden;
     margin-bottom: 20px;
}

/*listing*/

.posts {
     max-width: 1200px;
     margin: 0 auto;
     background: #f4f4f4;
     padding: 20px;
}

.article {
     display: flex;
     align-items: stretch;
     padding: 20px;
     margin-bottom: 50px;
     background: #fff;
}

.article__type-name {
     background: #cc0000;
     border-radius: 20px;
     padding: 5px 10px;
     color: #ffffff;
     font-size: 12px;
}

.article__image {
     width: 540px;
     height: 300px;
     position: relative;
}

.article__image-img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: 2;
     position: relative;
}

.article__image .overlay {
     background: #cc0000;
     width: 540px;
     height: 258px;
     position: absolute;
     right: -20px;
     bottom: -20px;
     z-index: 1;
}

.article__content,
.article__image {
     flex: 1;
     padding: 20px;
}

.article__title {
     font-size: 1.875rem;
     line-height: 2.25rem;
     margin-bottom: 10px;
     font-weight: bold;
}

.article__description {
     color: rgba(156, 163, 175);
     font-size: 18px;
     line-height: 1.75rem;
     margin-bottom: 20px;
}

.article__created-at {
     color: rgba(107, 114, 128);
     display: inline-block;
     margin-left: 20px;
}

/*layouts*/

.article-full__name {
     font-size: 32px;
     font-weight: bold;
}

.article-full__title {
     font-size: 24px;
     font-weight: bold;
     color: #cc0000;
     margin-bottom: 20px;
}

.article-full__image-img {
     width: 400px;
     height: 300px;
     overflow: hidden;
}

.article-full__image-img img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     position: relative;
}

.article-full__description {
     color: #333;
     font-size: 16px;
     line-height: 1.75rem;
}

.article-full__image {
     display: flex;
     gap: 10px;
}

.article-full.schema-1 .article-full__content .article-full__image-img,
.article-full.schema-3 .article-full__content .article-full__image-img {
     margin: 0 20px 20px 0;
     float: left;
}

.article-full.schema-2 .article-full__content .article-full__image-img,
.article-full.schema-4 .article-full__content .article-full__image-img {
     margin: 0 0px 20px 20px;
     float: right;
}

.article-full.schema-5 .article-full__image,
.article-full.schema-6 .article-full__image {
     flex-direction: column;
}

.article-full.schema-5,
.article-full.schema-6 {
     display: flex;
}

.article-full.schema-6 {
     flex-direction: row-reverse;
}

.article-full.schema-6 .article-full__image {
     margin-right: 20px;
}