<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/front/css/main.css" />
</head>
<body>
    <header>
        <div class="top_info">
            <div class="center display-flex-end">
                <a href="tel:3714653">Call: (203) 453-2701</a>
                <a href="mailto:info@service.com">Email: info@service.com</a>
                <a href="#">f</a>
                <div class="search">
                    <form action="#">
                        <input type="search" class="inputSearch" name="search" placeholder="search">
                        <input type="submit" value="search">
                    </form>
                </div>
            </div>
        </div>
        <div class="center display-flex">
            <a href="/start" id="logo"><img src="/static/front/images/logo.png" alt="agency"></a>
            <ul class="nav">
                {{ menu | raw }}
                <li><a href="/admin/">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    </header>
     
    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="http://wojciech-kondraciuk.pl/">Wojciech Kondraciuk</a>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/front/js/main.js"></script>
</body>
</html>