{% extends "admin/base.html" %}

{% block body %}
<div class="table-header">
    <h3>{{ header }}<small>- {{ breadcrumbs }}</small></h3>
    <a 
      href="/admin/menu/create"
      class="btn"
    >New menu</a>
</div>

<form method="post" id="body" enctype="multipart/form-data">
    <input
        type="hidden" 
        name="parent"
        value="{{ item.parent_id }}"
    >
    <div class="form-row wrap">
        <label>Name:</label>
        <input 
            class="inputText" 
            type="text" 
            name="name" 
            value="{{ item.name }}"
        >
    </div>
    <div class="form-row wrap">
        <label>Title:</label>
        <input 
            class="inputText" 
            type="text" 
            name="title" 
            value="{{ item.title }}"
        >
    </div>
    <div class="form-row">
        <label>Public</label>
        <input 
            class="inputCheckbox" 
            name="status" 
            type="checkbox"
            {% if item.status == 1 %}checked{% endif %}
        >
    </div>
    <div class="form-row">
        <label>Schema:</label>
        <select name="layout" id="layout" class="inputSelect" onChange="imageUpdate();"">
            <option value="1" {% if item.layout == 1 %} selected {% endif %}>schema 1</option>
            <option value="2" {% if item.layout == 2 %} selected {% endif %}>schema 2</option>
            <option value="3" {% if item.layout == 3 %} selected {% endif %}>schema 3</option>
        </select>
    </div>
    <div class="form-row">
        <label>Design:</label>
        <img class="imageNews" src="/static/admin/images/banner/{% if item.layout %}{{ item.layout }}{% else %}1{% endif %}.gif" />

        

    </div>
    <div class="form-row">
        <label>Photo:</label>
        {% if item.photo1 %}
            <div class="photo">
                <input type="hidden" name="file1" value="{{ item.photo1 }}">
                <img 
                    width="100px" 
                    src="/uploads/{{ item.photo1 }}" 
                    alt="#"
                >
                <a 
                    href="/admin/remove/photo1&{{item.photo1|replace({'.': '_'})}}&{{ item.id }}&banner"
                    class="btn btn-danger btn-close"
                    onclick="return confirm('Are you sure want to delete?');"
                >X</a>
            </div>
        {% else %}
            <div class="photo no_thumb">
                <input 
                    class="inputFile" 
                    type="file"
                    name="file1"
                >
            </div>
        {% endif %}
    </div>
    <div class="form-row wrap">
        <label>More link:</label>
        <input 
            class="inputText" 
            type="text" 
            name="more_link" 
            value="{{ item.more_link }}"
        >
    </div>
    <div class="form-row">
        <div class="buttons">
            <button 
                class="btn btn-success btn-lg" 
                type="submit" 
                name="submit"
                value="submit"
            >{{ header }}</button> 
            <a 
                class="btn btn-danger btn-lg" 
                href="javascript: history.go(-1)"
            >Anuluj</a>
        </div>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.js"></script>
<script>

$.validator.addMethod("words", function(value, element) {
	return this.optional(element) || /^[a-zżźćńółęąśŻŹĆĄŚĘŁÓŃA-Z0-9\s]+$/.test(value);
}, "Letters, words, and spaces only please");

$.validator.addMethod('filesize', function (value, element, param) {
    return this.optional(element) || (element.files[0].size <= param * 1000000)
}, 'File size must be less than {0} MB');

$.validator.addMethod("url_adress", function(value, element) {
	return this.optional(element) || /^[a-z0-9\/]+$/.test(value);
}, "Url address please");

$('#body').validate({
    rules: {
        title: {
            words: true,
            maxlength: 100
        },
        name: {
            required: true,
            words: true,
            maxlength: 100
        },
        file1: {
            extension: "jpg,png,pdf",
            filesize: 2,
        },
        more_link: {
            url_adress: true,
            maxlength: 50
        },
    }
});

function imageUpdate() {
    var image = $("select#layout").val();
    var path = "";
    $("img.imageNews").attr({
        src: '/static/admin/images/banner/' + path + image + '.gif',
        alt: "#"
    });
}


</script>
{% endblock %}