{% extends "admin/base.html" %}

{% block body %}
  <div class="table-header">
    <h3>{{ breadcrumbs }}</h3>
    <a 
      href="/admin/menu/create"
      class="btn"
    >New menu</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>parent_id</th>
        <th>listorder</th>
        <th>name</th>
        <th>title</th>
        <th>slug</th>
        <th>public</th>
        <th>more</th>
        <th>more_link</th>
        <th>more_label</th>
        <th>align_center</th>
        <th>bg_pattern</th>
        <th>inheritance</th>
        <th>layout</th>
        <th>photo1</th>
        <th>photo2</th>
        <th>photo3</th>
        <th>photo4</th>
        <th>date</th>
        <th>action</th>
      </tr>
    </thead>
    {% if items %}
    <tbody id="list" data-section="body">
      {% for item in items %}
          <tr id="arrayorder_{{ item.id }}">
            <td>{{ item.id }}</td>
            <td>{{ item.parent_id }}</td>
            <td>{{ item.listorder }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.slug }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.more }}</td>
            <td>{{ item.more_link }}</td>
            <td>{{ item.more_label }}</td>
            <td>{{ item.align_center }}</td>
            <td>{{ item.bg_pattern }}</td>
            <td>{{ item.inheritance }}</td>
            <td>{{ item.layout }}</td>
            <td class="txt-center">{% if item.photo1 %}<img width="60px" src="/uploads/{{ item.photo1 }}" alt="">{% else %}<img src="/static/admin/images/no_photo.gif" alt="">{% endif %}</td>
            <td class="txt-center">{% if item.photo2 %}<img width="60px" src="/uploads/{{ item.photo2 }}" alt="">{% else %}<img src="/static/admin/images/no_photo.gif" alt="">{% endif %}</td>
            <td class="txt-center">{% if item.photo3 %}<img width="60px" src="/uploads/{{ item.photo3 }}" alt="">{% else %}<img src="/static/admin/images/no_photo.gif" alt="">{% endif %}</td>
            <td class="txt-center">{% if item.photo4 %}<img width="60px" src="/uploads/{{ item.photo4 }}" alt="">{% else %}<img src="/static/admin/images/no_photo.gif" alt="">{% endif %}</td>
            <td>{{ item.created_at }}</td>
            <td>
              <div class="buttons">
                <a 
                  href="/admin/body/edit/{{ item.id }}" 
                  class="btn"
                >Edit</a>
                <a 
                  href="/admin/body/delete/{{ item.id }}" 
                  class="btn btn-danger"
                  onclick="return confirm('Are you sure want to delete?');"
                  >X</a>
              </div>
            </td>
          </tr>
      {% endfor %}
    </tbody>
    {% else %}
    <tr>
      <td>No posts</td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="15">
        <a 
          href="/admin/body/create/{{ request_id }}"
          class="btn"
        >Add body</a>
      </td>
    </tr>
  </table>
{% endblock %}