{% extends "admin/base.html" %}

{% block body %}
<div class="table-header">
    <h3>{{ breadcrumbs }}</h3>
    <a 
      href="/admin/menu/create"
      class="btn"
    >New menu</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>parent_id</th>
      <th>name</th>
      <th>description</th>
      <th>public</th>
      <th>photo1</th>
      <th>bg_photo</th>
      <th>more_link</th>
      <th>label_link</th>
      <th>date</th>
      <th>action</th>
    </tr>
  </thead>
  {% if items %}
  <tbody>
    {% for item in items %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.parent_id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description|length < 50 ? item.description : item.description|slice(0, 50) ~ '...' }}</td>
          <td>{{ item.status }}</td>
          <td class="icon-bg">
            <img width="60px" src="/uploads/{% if item.photo1 %}{{ item.photo1 }}{% else %}no_photo.jpg{% endif %}" alt="{{ item.name }}">
          </td>
          <td>{{ item.bg_photo }}</td>
          <td>{{ item.more_link }}</td>
          <td>{{ item.label_link }}</td>
          <td>{{ item.created_at }}</td>
          <td>
            <div class="buttons">
              <a 
                href="/admin/box/edit/{{ item.id }}" 
                class="btn btn-secondary btn-sm"
              >Edit</a>
              <a 
                href="/admin/box/delete/{{ item.id }}" 
                class="btn btn-danger btn-sm"
                onclick="return confirm('Are you sure want to delete?');"
                >X</a>
            </div>
          </td>
        </tr>
    {% endfor %}
  </tbody>
  {% else %}
  <tr>
    <td colspan="11">No posts</td>
  </tr>
  {% endif %}
  <tr>
    <td colspan="13">
      <a 
        href="/admin/box/create/{{ request_id }}"
        class="btn btn-success"
      >Add new item</a>
    </td>
  </tr>
</table>
{% endblock %}